<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button
      defaultHref="/" text="Regresar"
      color="primary"
      mode="ios"></ion-back-button>
</ion-buttons>
  <ion-title>Input</ion-title> 
</ion-toolbar>
</ion-header>  
  <ion-content>
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input label="Text input" placeholder="Enter text"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Numero" type="number" placeholder="999-999-999"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Contraseña" type="password" value="password"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Email " type="email" placeholder="Escriba aqui"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Telefono" type="tel" placeholder="Escriba aqui"></ion-input>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>